* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
}

.header {
    background: #70d050;
    height: 300px;
}

.find {
    position: fixed;
}

.slider {
    width: 100%;
    height: 115px;
    overflow: hidden;
    color: white;
}

.slider-inner {
    height: 100%;
    width: 200%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    pointer-events: none;
}

.slide-img {
    width: 150px;
    height: 110px;
    text-align: center;
    border-radius: 25px;
}

.math {
    background: #f1772c;
}

.math-menu {
    background: #f0c229;
}

.card-menu {
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.dot {
    width: 50%;
    height: 100%;
    border-bottom-left-radius: 90%;
    border-top-right-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

.x {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 20px;
}

.subj {
    height: 50%;
    display: flex;
    padding-left: 20px;
    align-items: center;
}

.geo {
    background: #8196e7;
}

.geo-menu {
    background: #1f1869;
}

.che {
    background: #f0c229;
}

.che-menu {
    background: #3d0d6b;
}

.bio {
    background: #53d884;
}

.bio-menu {
    background: #1b5f34;
}

.card {
    height: 150px;   
    border-radius: 25px;
    color: white;
}

.less-menu {
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.card-menu-big {
    width: 25%;
    height: 100%;
    
}

.card-head {
    margin-bottom: 5px;
}

.place,
.teacher {
    justify-content: flex-start;
    height: 20%;
    gap: 20px;
    margin-bottom: 5px;
}

.footer {
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    padding-bottom: 10px;
}
