* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
}


.header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.header2-date {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cal {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 10px;
}

.cal-day {
    margin-bottom: 5px;
}

.cal-week {
    width: 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cal-week:active {
    background: orange;
    border-radius: 5px;
}

.schel-head {
        border-top: 3px solid gray;
        padding-top: 10px;
        display: flex;
        justify-content: space-between;
}

.schel-time {
    width: 70px;
    border-right: 2px solid gray;
}

.schel-head-course {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.schel-place,
.schel-teacher {
    display: flex;
    gap: 10px;
}

.footer {
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    padding-bottom: 10px;
}